### EDA

In [1]:
import pandas as pd

c = pd.read_csv('creditcard.csv')
c.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [2]:
c.shape

(284807, 31)

In [3]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
c.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
c['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
c.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [9]:
l = c[c['Class'] == 0]
f = c[c['Class'] == 1]

In [11]:
l.shape

(284315, 31)

In [12]:
f.shape

(492, 31)

In [14]:
l = l.sample(n = 492)
l.shape

(492, 31)

In [17]:
c = pd.concat([l,f], axis = 0)

In [18]:
c

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
202421,134320.0,1.763921,-1.537281,-0.563759,-0.644146,-1.343658,-0.520736,-0.724528,-0.038732,-0.088503,...,-0.049983,-0.512892,0.272667,0.043783,-0.597076,-0.615960,-0.029828,-0.021970,187.81,0
136059,81524.0,-1.204934,1.433359,1.316611,-0.306951,-0.088300,-0.270904,0.499121,0.244018,-0.072823,...,-0.230885,-0.411599,0.053992,0.189019,-0.175461,0.085374,0.594290,0.302223,8.94,0
272606,165178.0,-0.617354,0.924031,1.415573,2.470043,1.510450,1.246942,0.343281,0.068801,-0.713918,...,0.192433,0.672463,-0.357825,-0.334739,-0.422893,-0.020810,-0.234491,-0.002728,0.00,0
168608,119305.0,-0.056774,1.059775,-0.121382,0.888117,1.316176,-0.382919,1.291425,-0.209773,-0.732804,...,0.152392,0.574927,-0.257073,0.613580,-0.008516,-0.417964,0.186308,0.188413,9.26,0
91568,63530.0,-1.074203,0.313706,-0.963371,-3.045080,2.101995,2.765093,0.097813,1.226665,0.374603,...,0.194135,0.263827,-0.097206,1.011827,0.398901,-0.631245,0.237568,0.097635,77.67,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [19]:
c['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

### Model

In [20]:
X = c.drop('Class', axis = True)
y = c['Class']

In [22]:
from sklearn.model_selection import train_test_split

a, d, s, f = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 9)

In [24]:
print(a.shape)
print(s.shape)
print(d.shape)
print(f.shape)

(787, 30)
(787,)
(197, 30)
(197,)

In [25]:
from sklearn.linear_model import LogisticRegression

m = LogisticRegression()
m.fit(a,s)
g = m.predict(d)

In [26]:
from sklearn.metrics import accuracy_score

print('accuracy_score : ',accuracy_score(f, g))

accuracy_score :  0.9086294416243654

### Prediction

In [27]:
z = (153633,2.03636960638989,-1.01056956896185,-0.542651643565587,-0.196882396420127,-0.982191940801555,-0.253915473128984,-0.862318670214514,-0.0471251663355806,0.0903572075616324,0.828629416910144,-1.72758907368801,-0.297628120309947,0.197781590111525,-0.200553611447188,0.451249899570234,-0.855718434143812,-0.521529022671065,1.26608958350069,-0.684468383402989,-0.496059118211694,-0.581891774103568,-1.22806570325075,0.359881425651015,-0.726414159766267,-0.624842228444307,0.0157232334016389,0.000117618615916165,-0.031152591376675,64.97)

import numpy as np
z = np.array(z)
z = z.reshape(1,-1)
m.predict(z)

C:\Users\sriha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)